    <footer class=bottomLinks>
      <section>
        <h1>BioBricks Programs</h1>
        <ul>
          <li><a href=https://biobricks.org/bionet>BioNet</a></li>
          <li>
              <a href=https://biobricks.org/sharingandinnovation/>Sharing &amp; Innovation</a>
            <ul>
              <li><a href=https://biobricks.org/openmta>OpenMTA</a></li>
              <li><a href=https://biobricks.org/bpa>BPA</a></li>
            </ul>
          </li>
          <li><a href=https://biobricks.org/community>Community</a></li>
          <li><a href=https://biobricks.org/biobricks-history>Programs &amp; History</a></li>
        </ul>
      </section>

      <section>
        <h1>About BioBricks</h1>
        <ul>
          <li><a href=https://biobricks.org/team-board>Team &amp; Board</a></li>
        </ul>
      </section>

      <section>
        <h1>BioBricks Policies</h1>
        <ul>
          <li><a href=https://biobricks.org/privacy-policy>Privacy Policy</a></li>
          <li><a href=https://biobricks.org/terms-of-use>Terms of Use</a></li>
          <li><a href=https://biobricks.org/dmca-takedown>DMCA Takedown</a></li>
        </ul>
      </section>

      <section>
        <h1>Contact Us</h1>
        <address>77 Van Ness Ave, Ste 101-1626<br>San Francisco, CA 94102-6041</address>
        <a href=mailto:contact@biobricks.org>contact@biobricks.org</a>
      </section>
    </footer>

    <footer class=copyright>
      <p>&copy; Copyright 2017 The BioBricks Foundation</p>
    </footer>
