    <nav>
      <ul>
        <li><a href=/about>About</a></li>
        <li><a href=/guide>Users Guide</a></li>
        <li><a href=/publish>Publish</a></li>
        <li><a href=/host>Host a Server</a></li>
        <li><a href=/key>Signing Key</a></li>
        <li><a href=/accessions>Accesion List</a></li>
        <li><a href=/rss.xml>RSS Feed</a></li>
        <li><a href=/declaration>Declaration</a></li>
        <li><a href=/license>License</a></li>
      </ul>
    </nav>
