<!doctype html>
<html lang=en>
  <head>
    <title>Distributed Bulletin of Open Science</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=/styles.css rel=stylesheet>
  </head>

  <body>
    {{> header}}

    <main>
      <h1>Distributed Bulletin of Open Science (DBOS)</h1>
      <p class=lead>
        The Distributed Bulletin of Open Science (DBOS) is an information tool for dedicating new scientific discoveries to the public domain.
      </p>
    </main>

    {{> nav}}

    {{> footer}}
  </body>
</html>
