<!doctype html>
<html lang=en>
  <head>
    <title>Public Domain Chronicle</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=/styles.css rel=stylesheet>
  </head>

  <body>
    {{> header}}

    <main>
      <h1>Public Domain Chronicle (PDC)</h1>
      <p class=lead>
        The Public Domain Chronicle (PDC) is a tool for dedicating new scientific discoveries to the public domain by publishing them to the Internet.
      </p>
    </main>

    {{> nav}}

    {{> footer}}
  </body>
</html>
