<!doctype html>
<html lang=en>
  <head>
    <title>Distributed Bulletin of Open Science / Host a Server</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=styles.css rel=stylesheet>
  </head>

  <body>
    {{> header}}

    <main>
      <h1>Host a Server</h1>

      <p>Anyone can run a DBOS server to accept new submissions and republish submissions from other DBOS servers.  Many DBOS servers are better than one:</p>

      <ul>
        <li>Servers that republish each other&rsquo;s submissions corroborate each other&rsquo;s timestamps, creating even stronger evidence that a finding was published by a particular time as prior art.</li>

        <li>Servers that republish each other&rsquo;s submissions back up each other&rsquo;s data.</li>

        <li>Severs can adapt the submission form to make it easier for particular kinds of contributors to describe their findings.</li>
      </ul>

      <p>The source code for a DBOS server is publicly licensed under the terms of The Apache License, Version 2.0.  The source code is available on <a href=https://github.com/biobricks/dbos>GitHub</a>.
    </main>

    {{> nav}}

    {{> footer}}
  </body>
</html>
