<!doctype html>
<html lang=en>
  <head>
    <title>Distributed Bulletin of Open Science / Host</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=styles.css rel=stylesheet>
  </head>

  <body>
    {{> header}}

    <main>
      <h1>Host</h1>
      <p>Anyone can host a website accepting submissions to DBOS.</p>

      <p>The source code for a DBOS server is publicly licensed under the terms of The Apache License, Version 2.0.  The source code is available on <a href=https://github.com/biobricks/dbos>GitHub</a  The source code is available on <a href=https://github.com/biobricks/dbos>GitHub</a>.</p>
    </main>

    {{> nav}}

    {{> footer}}
  </body>
</html>
