<!doctype html>
<html lang=en>
  <head>
    <title>DBOS</title>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    {{> header}}

    <main>
      <p>Not found</p>
    </main>

    {{> footer}}
  </body>
</html>
