body {
  font-family: "Open Sans", Arial, sans-serif;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  text-align: center;
}

main {
  border-right: 1px solid #eee;
  color: rgb(102, 102, 102);
  display: inline-block;
  margin: 0 auto;
  max-width: 40rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  text-align: left;
  vertical-align: top;
}

main p {
  color: rgb(102, 102, 102);
  font-family: "PT Sans", Helvetica, Arial, Lucida, sans-serif;
}

nav {
  display: inline-block;
  height: 100%;
  max-width: 10rem;
  text-align: left;
  vertical-align: top;
}

nav ul {
  list-style-type: none;
  padding: 1rem 0 1rem 2rem;
}

nav a {
  color: #777;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(88, 175, 54);
}

header {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.bottomLinks {
  background-color: rgb(68, 68, 68);
  color: white;
  font-size: 80%;
  margin: 1rem auto 0 auto;
  padding: 3rem 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #515151;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
}

.bottomLinks h1 {
  color: #dd9933;
  font-size: 140%;
  font-weight: normal;
}

.bottomLinks section {
  display: inline-block;
  margin: 0 auto;
  padding: 0.375rem;
  text-align: left;
  vertical-align: top;
  width: 12rem;
}

.bottomLinks section:first-child {
  padding-left: 0;
}

.bottomLinks section:last-child {
  padding-right: 0;
}

.bottomLinks ul {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
}

.bottomLinks > ul {
  font-size: 90%;
}

.bottomLinks ul ul {
  padding-left: 1rem;
}

.bottomLinks li:before {
  color: #81d742;
  content: '• ';
  font-weight: bold;
}

.bottomLinks ul li a {
  color: white;
  text-transform: uppercase;
}

.bottomLinks ul li ul li a {
  font-style: oblique;
  text-transform: none;
}

.copyright {
  background-color: #2e2e2e;
  display: block;
  color: rgb(102, 102, 102);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.copyright p {
  text-align: left;
  width: 50rem;
  margin: 0 auto;
  font-size: 85%;
}

table {
  text-align: left;
  width: 100%;
}

table thead {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

.good {
  background-color: rgb(200,255, 200);
}

.medium {
  background-color: rgb(255, 255, 170);
}

.bad {
  background-color: rgb(255, 200, 200);
}

.listOfCheckBoxes {
  height: 10rem;
  list-style-type: none;
  overflow-y: scroll;
  padding: 0;
}

form section {
  border: 1px solid #eee;
  margin: 1rem 1rem 1rem 0;
  padding: 0 1rem 1rem 1rem;
  position: relative;
}

.fullWidth {
  width: 100%;
}

input[type=search], input[type=text], textarea {
  width: 100%;
}

ul.inputs {
  list-style-type: none;
  padding: 0;
}

ul.inputs li {
  margin: 1rem 0;
}

.wordCount {
  color: #777;
  font-size: 75%;
  text-align: right;
}

.legal, .problem {
  font-size: 80%;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
}

.legal {
  background: lightyellow;
}

.problem {
  background-color: rgb(255, 200, 200);
}

.legal:before {
  content: 'Legal Note: ';
  font-style: italic;
}

.problem:before {
  content: 'Problem: ';
  font-style: italic;
}

.required:after,
.optional:after,
.recommended:after {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.required:after {
  content: '(required)';
}

.optional:after {
  content: '(optional)';
}

.recommended:after {
  content: '(strongly recommended)';
}

dt {
  margin-top: 1rem;
}

li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.logo {
  height: 5rem;
}

a {
  color: #2ea3f2;
  text-decoration: none;
}

.lead{
  font-weight: bold;
}
