body {
  font-family: sans-serif;
}

header, main, footer {
  margin: 0 auto;
  max-width: 40rem;
}

table {
  text-align: left;
}

.good {
  background-color: rgb(200,255, 200);
}

.medium {
  background-color: rgb(255, 255, 170);
}

.bad {
  background-color: rgb(255, 200, 200);
}

.listOfCheckBoxes {
  height: 10rem;
  list-style-type: none;
  overflow-y: scroll;
  padding: 0;
}
