<!doctype html>
<html lang=en>
  <head>
    <title>DBOS Publications Index</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    {{> header}}

    <main>
      <table>
        <thead>
          <tr>
            <th>№</th>
            <th>Published</th>
            <th>Cryptographic Digest</th>
          </tr>
        </thead>
        <tbody>
          {{#accessions}}
          <tr>
            <td>{{number}}</td>
            <td>{{timestamp}}</td>
            <td>
              <a href=/publications/{{digest}}>
                <code>{{{formattedDigest}}}</code>
              </a>
            </td>
          </tr>
          {{/accessions}}
        </tbody>
      </table>
    </main>

    {{> nav}}

    {{> footer}}
  </body>
</html>
