<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{title}}</title>
    <link href=/normalize.css rel=stylesheet>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    {{> header}}
    <main>
      <h1>{{title}}</h1>
      <p>Version {{version}}</p>
      <p class=premable>{{preamble}}</p>
      <ol>
      {{#items}}
        <li>{{.}}</li>
      {{/items}}
      </ol>
      <p>{{copyright}}</p>
      <p>{{license}}</p>
    </main>
    {{>nav}}
    {{>footer}}
  </body>
</html>
