<!doctype html>
<html lang=en>
  <head>
    <title>DBOS Publication</title>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    <header>
      <h1 class=title>{{title}}</h1>
      <p class=digest><code>{{{formattedDigest}}}</code></p>
    </header>

    <main>
      {{#name}}
      <h2>Name</h2>
      <p class=name>{{.}}</p>
      {{/name}}

      {{^name}}
      <p>Published anonymously.</p>
      {{/name}}

      {{#affiliation}}
      <h2>Affiliation</h2>
      <p class=affiliation>{{.}}</p>
      {{/affiliation}}

      <h2>Description</h2>
      {{#description}}<p>{{.}}</p>{{/description}}

      <h2>Safety Notes</h2>
      {{^safety}}<p>No safety notes.</p>{{/safety}}
      {{#safety}}<p>{{.}}</p>{{/safety}}

      <h2>Attachments</h2>

      <ul>
      {{#attachments}}
        <li>
          <a href="/publications/{{{digest}}}/attachments/{{{.}}}">
            {{.}}
          </a>
        </li>
      {{/attachments}}
      </ul>

      {{^attachments}}
      <p>No attachments</p>
      {{/attachments}}

      <h2>Metadata</h2>

      <ul id=journals>
      {{#journals}}
        <li>Related Journal: {{.}}</li>
      {{/journals}}
      </ul>

      <ul id=classifications>
      {{#classifications}}
        <li>International Patent Classification: {{.}}</li>
      {{/classifications}}
      </ul>

      <ul id=publications>
      {{#publications}}
        <li>Related DBOS Publication: <a href=/publications/{{{.}}}>{{.}}</a></li>
      {{/publications}}
      </ul>

      <h2>Declaration</h2>
      <p>Version {{declaration}}</p>

      <h2>License</h2>
      <p>Version {{license}}</p>

      <h2>Timetstamps</h2>

      <ul>
      {{#timestamps}}
        <li>
          <dl>
            <dt>Published<dt>
            <dd>{{timestamp}}</dd>
            <dt>Host</dt>
            <dd><a href="{{{uri}}}">{{hostname}}</a></p>
            <dt>Signature</dt>
            <dd><code>{{{signature}}}</code></dd>
          </dl>
        </li>
      {{/timestamps}}
      </ul>
    </main>
  </body>
</html>
