<!doctype html>
<html lang=en>
  <head>
    <title>Distributed Bulletin of Open Science / Publish</title>
    <link href=styles.css rel=stylesheet>
  </head>
  <body>
    <header>
      <h1>Publish an Invention in the Distributed Bulletin of Open Science</h1>
    </header>

    <main>
      <p>Use this form to claim a scientific invention for the public domain by publishing it to the Distributed Bullet of Open Science.  For more about DBOS, see the <a href=/about>about page</a>.</p>

      <aside class=legal>Do not break the law, any institutional policy, or any contract by publishing in DBOS.  Review the brief <a href=/guide>users guide</a> for notes on legal restrictions that may apply to your work.</aside>

      {{#errors}}
      <p class=bad>The submitted publication had invalid input.</pre>
      {{/errors}}

      <form method=post action=/publish enctype=multipart/form-data>
        <section class=optional>
          <h1>Inventor</h1>

          <p>Either the inventor or someone helping the inventor to use the computer must write the responses to this form, fill it out, and submit it.</p>

          <aside class=legal>To publishing in DBOS, you must grant a public copyright license for your publication.  Usually, the author of those materials is the one who has to give the license.  The answers to this form, especially the title, description, and any attachments, should be the inventor&rsquo;s work.</aside>

          <section>
            <h2>Name</h2>

            <p>Please provide your full name.</p>

            <p>If you want to publish to DBOS anonymously, leave this field blank.</p>

            <input name=name type=text autocomplete=name>
          </section>

          <section>
            <h2>Affiliation</h2>

            <p>Please provide the legal name of the commercial, academic, nonprofit, governmental, or other organization you work for, if any.</p>

            <p>If you want to publish to DBOS anonymously, leave this field blank.</p>

            <input name=affiliation type=text autocomplete=organization>
          </section>
        </section>

        <section class=required>
          <h2>Title</h2>

          <p>Provide a title for your invention, describing what it is and how it is useful, in the terms most natural for you and colleagues in your field.</p>

          <aside class=legal>There&rsquo;s no need to &ldquo;translate&rdquo; your title into legal jargon, as you might for a patent, or into everyday language, as you might for a press release.</aside>

          <input name=title type=text maxlength=256 spellcheck required>
        </section>

        <section id=description class=required>
          <h2>Description</h2>

          <p>Explain the best way that someone in your field can make and use your invention.  Feel free to use multiple paragraphs if necessary.</p>

          <aside class=legal>This is the most important part.  If your description enables others in your field to make and use your invention, publishing it creates &ldquo;prior art&rdquo; that can stop later patent applications for the invention.  If at all possible, have a colleague review your description and tell you if it&rsquo;s missing any nonobvious details.</aside>

          <textarea name=description rows=30 maxlength=28000 spellcheck required></textarea>
        </section>

        <section id=safety class=optional>
          <h2>Safety Notes</h2>

          <p>Optionally describe any special safety precautions others might like to take when trying and using your invention, to protect themselves, other people, and the environment.</p>

          <textarea name=safety rows=10 spellcheck></textarea>
        </section>

        <section id=attachments class=optional>
          <h1>Attachments</h1>

          <p>If images or other data files are essential to describing your invention, attach them here.  If the description above is enough to teach others how to use what you&rsquo;ve found, there&rsquo;s no need for any attachments.</p>

          <aside class=legal>If you can describe your invention with a standard-format file, like a <a href=http://zhanglab.ccmb.med.umich.edu/FASTA/>FASTA</a> or <a href=http://sbolstandard.org/>SBOL</a> file for genetic information, please attach it.  Well-structured data will make finding your submission much easier.</aside>

          <ul class=inputs>
            <li><input name=attachments[] type=file></li>
            <li><input name=attachments[] type=file></li>
            <li><input name=attachments[] type=file></li>
          </ul>
        </section>

        <section class=recommended>
          <h1>Metadata</h1>

          <p>&ldquo;Metadata&rdquo;, or data about data, help researchers and computer programs catalog, index, and search digital records like your publication.  Taking a few seconds to add metadata to your publication transforms it from a needle in a haystack into a useful record for reseachers.</p>

          <section>
            <h2>Journals</h2>

            <p>Which journals do other scientists interested in the area of your invention publish in and read?  Tick the boxes next to the journals most relevant to the field of your invention.  Usually, two or three journals are enough.</p>

            <ul id=journals class=listOfCheckBoxes>
              {{#journals}}
              <li>
                <label>
                  <input name=journals[] type=checkbox value="{{.}}">
                  {{.}}
                </label>
              </li>
              {{/journals}}
            </ul>

            <p>If you believe another journal should appear on this list, please <a href=mailto:legal@biobricks.org?subject=Journal%20for%20the%20List>send a note with a link to its website</a>.</p>
          </section>

          <section id=classifications>
            <h2>Patent Classifications</h2>

            <p>The <a href=http://web2.wipo.int/classifications/ipc/ipcpub>International Patent Classification</a> is a standardized taxonomy of invention classes referred to by codes.  For example, <a href=http://web2.wipo.int/classifications/ipc/ipcpub?notion=scheme&version=20170101&symbol=C12N0009000000&menulang=en&lang=en&viewmode=m&fipcpc=no&showdeleted=yes&indexes=no&headings=yes&notes=yes&direction=o2n&initial=A&cwid=none&tree=no&searchmode=smart><code>C12N 0/900</code></a> denotes <a href=https://en.wikipedia.org/wiki/Oxidoreductase>oxidoreductases</a>.  Patent offices and patent researchers the world over use IPC to categorize patents and patent applications, as well as to find prior art.</p>

            <ul class=inputs>
              <li><input name=classifications[] type=text pattern="[ABCDEFGH][0-9][0-9][A-Z] [0-9]{1,3}/[0-9]{2,}" placeholder="IPC Code"></li>
              <li><input name=classifications[] type=text pattern="[ABCDEFGH][0-9][0-9][A-Z] [0-9]{1,3}/[0-9]{2,}" placeholder="IPC Code"></li>
              <li><input name=classifications[] type=text pattern="[ABCDEFGH][0-9][0-9][A-Z] [0-9]{1,3}/[0-9]{2,}" placeholder="IPC Code"></li>
            </ul>
          </section>

          <section id=publications>
            <h2>Other DBOS Publications</h2>

            <p>If the invention builds from or refers to previous DBOS publications, copy their cryptographic digests into the boxes below.</p>

            <ul class=inputs>
              <li><input name=publications[] type=text pattern="^[abcdef0-9]{64}$" placeholder="SHA-256 digest"></li>
              <li><input name=publications[] type=text pattern="^[abcdef0-9]{64}$" placeholder="SHA-256 digest"></li>
              <li><input name=publications[] type=text pattern="^[abcdef0-9]{64}$" placeholder="SHA-256 digest"></li>
            </ul>
          </section>
        </section>

        {{#declaration}}
        <section id=declaration class=required>
          <h2>{{title}}</h2>
          <p class=version>Version {{version}}</p>

          <p class=preamble>{{preamble}}</p>
          <ol>
            {{#items}}<li>{{.}}</li>{{/items}}
          </ol>

          <label>
            <input name=declaration type=checkbox value={{{version}}} required>
            Check this box to make the declaration above.
          </label>
        </section>
        {{/declaration}}

        {{#license}}
        <section id=license class=required>
          <h2>{{title}}</h2>
          <p class=version>Version {{version}}</p>

          <p class=preamble>{{preamble}}</p>
          <ol>
            {{#items}}<li>{{.}}</li>{{/items}}
          </ol>

          <label>
            <input name=license type=checkbox value={{{version}}} required>
            Check this box to grant the license above.
          </label>
        </section>
        {{/license}}

        <section id=submit>
          <h2>Publish</h2>

          <p>Submittions to DBOS are published instantly, publicly, and permanently.  Please take a moment to review your responses above.</p>

          <div class=g-recaptcha data-sitekey={{RECAPTCHA_PUBLIC}}></div>
          <noscript>
            <div>
              <div style="width: 302px; height: 422px; position: relative;">
                <div style="width: 302px; height: 422px; position: absolute;">
                  <iframe
                    src=https://www.google.com/recaptcha/api/fallback?k={{RECAPTCHA_PUBLIC}}
                    frameborder=0
                     scrolling=no
                    style="width: 302px; height:422px; border-style: none;">
                  </iframe>
                </div>
              </div>
              <div
                style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                <textarea
                  id=g-recaptcha-response
                  name=g-recaptcha-response
                  class=g-recaptcha-response
                  style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;"
                ></textarea>
              </div>
            </div>
          </noscript>

          <input type=submit value="Publish to DBOS">
        </section>
      </form>
    </main>

    <script src=publish.js></script>
    <script src=https://www.google.com/recaptcha/api.js></script>
  </body>
</html>
