<!doctype html>
<html lang=en>
  <head>
    <title>DBOS Publications Index</title>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    <header>
      <h1>DBOS Publications Index</h1>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Accession Number</th>
            <th>Publication Date (UTC)</th>
            <th>Cryptographic Digest</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
    <footer>
    </footer>
  </body>
</html>
