<!doctype html>
<html lang=en>
  <head>
    <title>DBOS Publication</title>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    <header>
      <h1 class=title>{{title}}</h1>
      <p class=date>Published on {{hostname}} on {{date}} (UTC)</p>
    </header>

    <main>
      {{#name}}
      <h2>Name</h2>
      <p class=name>{{.}}</p>
      {{/name}}

      {{^name}}
      <p>Published anonymously.</p>
      {{/name}}

      {{#affiliation}}
      <h2>Affiliation</h2>
      <p class=affiliation>{{.}}</p>
      {{/affiliation}}

      <h2>Description</h2>
      {{#description}}<p>{{.}}</p>{{/description}}

      <h2>Safety Notes</h2>
      {{^safety}}<p>No safety notes.</p>{{/safety}}
      {{#safety}}<p>{{.}}</p>{{/safety}}

      <h2>Cryptographic Information</h2>
      <dl>
        <dt>Publication Digest</dt>
        <dd><code>{{{digest}}}</code></dd>

        <dt>Publisher&rsquo;s Signature</dt>
        <dd><code>{{{signature}}}</code></dd>
      </dl>
    </main>

    <footer></footer>
  </body>
</html>
