<!doctype html>
<html lang=en>
  <head>
    <title>DBOS Publication</title>
    <link href=/styles.css rel=stylesheet>
  </head>
  <body>
    <header>
      <h1 class=title>{{title}}</h1>
      <p class=date>Published on {{hostname}} on {{date}} (UTC)</p>
    </header>

    <main>
      {{#scientist}}
      <h2>Scientist</h2>
      <p class=name>{{name}}</p>
      <p class=institution>{{institution}}</p>
      {{/scientist}}

      {{^scientist}}
      <p class=anonymous>published anonymously</p>
      {{/scientist}}

      <h2>Description</h2>

      <pre>{{description}}</pre>

      {{#safety}}
      <h2>Safety Notes</h2>
      <pre>{{text}}</pre>
      {{/safety}}

      <h2>Cryptographic Information</h2>
      <dl>
        <dt>Publication Digest</dt>
        <dd><code>{{{digest}}}</code></dd>

        <dt>Publisher&rsquo;s Signature</dt>
        <dd><code>{{{signature}}}</code></dd>
      </dl>
    </main>

    <footer></footer>
  </body>
</html>
